.cover {
  padding-top: 66px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .cover {
    padding-top: 90px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 992px) {
  .cover {
    padding-top: 92px;
    padding-bottom: 68px;
  }
}

@media screen and (min-width: 1200px) {
  .cover {
    padding-left: 5%;
    padding-right: 5%;
  }
}