.header__title {
  width: min-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #FFF;
  margin: 0 auto;
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
  }
}