.header__img-subtitle {
  margin-left: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 0;
  margin-bottom: 0;
}